@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=David+Libre|Hind:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Pacifico:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300');

 @import "{wolves:bourbon}/bourbon";

// Note: we use Autoprefixer to add vendor prefixes to our CSS -> https://github.com/postcss/autoprefixer
//
@import './partials/variables'; // colors, fonts etc...
@import './partials/mixins'; // custom mixins
@import './partials/layout'; // responsive grid and media queries

// @import './partials/home';
@import './partials/creditCard';
@import './partials/payment';
@import './partials/productsCatalogue';
@import './partials/cart';
@import './partials/login';
@import './partials/how';
@import './partials/contact';
@import './partials/help';

// @import '{reywood:bootstrap3-sass}/bootstrap';

//$primary-color: $color-1;
@import '../../../node_modules/loaders.css/src/animations/ball-scale-multiple.scss';
@import '../../../node_modules/loaders.css/src/animations/ball-pulse.scss';


.nav-active{
	background-color: #497D10;
}

.fixed-br{
  position: fixed;
  bottom: 20px;
  right: 50px;
  z-index: 1000;
}

#cd-cart{
  z-index: 2000;
}

.cart-total{
  position: absolute;
  color: white;
  bottom: 5px;
  left: 15px;

  @media (max-width: 760px) {
      display: none;
  }
}

.mm-toggle-wrap:hover > .nav-mobile, .mm-toggle-wrap:focus > .nav-mobile{
  opacity: 100;
  visibility: visible;
}

.nav-mobile{
  visibility: hidden;
  opacity: 0;
  top: 40px;
  position: absolute;
  width: 100%;
  min-width: 250px;

  -webkit-transition: visibility 0s,opacity 0.5s ease-in-out;
  -moz-transition: visibility 0s,opacity 0.5s ease-in-out;
  -ms-transition: visibility 0s,opacity 0.5s ease-in-out;
  -o-transition: visibility 0s,opacity 0.5s ease-in-out;
  transition: visibility 0s,opacity 0.5s ease-in-out;

  ul{
    list-style:none;
    position:relative;
    float:left;
    margin:0;
    padding:0;
    width: 100%;
  }

  li{
    width: 100%;
    background-color: #88be4c;

    :hover{
      color: white;
      background-color: black;
      -webkit-transition: background-color 0.5s ease-in-out;
      -moz-transition: background-color 0.5s ease-in-out;
      -ms-transition: background-color 0.5s ease-in-out;
      -o-transition: background-color 0.5s ease-in-out;
      transition: background-color 0.5s ease-in-out;
    }

    a{
      color: white;
      width: 100%;
      padding: 15px;
      display: inline-block;
    }
  }
}
